.subscribe-button {
  background-color: #cc0000;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity .15s
}
.subscribe-button:hover{
opacity: .7;
}
.subscribe-button:active{
opacity: .3;
}

.join-button {
  background-color: white ;
  color: blue;
  border: 1px solid #065fd4;
  padding: 9px 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color .15s, color .15s

}

.join-button:hover {
  background-color: #065fd4;
  color: white;
}

.join-button:active {
 opacity: .3;
}

.tweet-button{
  font-size: 15px;
  background-color: #1d9bf0;
  color: white;
  padding: 10px 16px;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 8px;
  transition: box-shadow .15s;         
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgb(29, 155, 240, .4)
}

.tweet-button:active {
 opacity: .3;
}

.uber-button{
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}
